body {
    background: linear-gradient(90deg, hsla(231, 48%, 48%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
}
.btn-login {
    background: #5D7DD4;
    width: 500px;
}
.btn-login:hover{
    background: #4963C7;
}
