@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f5f5f5 !important;
}

a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.84) !important;
}

small {
    font-size: 75% !important;
}

.card-div {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    min-height: 250px;
    background-color: #FFF;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 200px -12px, rgb(0 0 0 / 30%) 0px 18px 10px -18px;
}

.btn-create {
    background-color: #ffc10f !important;
    color: #3F51B5 !important;
    font-weight: 600 !important;
}

.btn-create:hover {
    background-color: #3F51B5 !important;
    color: #ffc10f !important;
    font-weight: 600 !important;
    transition: background-color 0.6s ease !important;
}

::-webkit-scrollbar {
    width: 5px;
    background: #dce6f1;
}

::-webkit-scrollbar-thumb {
    background: #3F51B5 !important;
}

.title-color {
    color: #5D7DD4;
}

.btn-logout {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.5em;
    color: inherit;
}

.periodicidade-list {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 10px;
}

.periodicidade-list .periodicidade-item {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.radio-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    position: absolute;
    margin: 0;
}

.periodicidade-list .periodicidade-item.selected {
    transition: background-color 0.6s ease;
    background: #ffc10f;
    color: #fff;
}

.tipo-cobranca-list {
    border-bottom: 1px solid rgba(208, 208, 208, 0.4);
    font-weight: 500;
}

.tipo-cobranca-active {
    border: 0;
    border-bottom: 3px solid #ffc10f;
    color: rgba(0, 0, 0, 0.84);
    padding-bottom: 16px;
}

.scrollable-container {
    max-height: 70vh;
    overflow: auto;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;

      padding: 0 .5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #fcfcfa;
    }
}

.error {
    color: red;
}

.container-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-panel, .right-panel {
    flex: 1;
}

.left-panel {
    background-color: #e4ecf4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel {
    background: transparent url(../images/bg-login.jpg) center top;
    opacity: 0.6;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}
